body{
  background-color:lightgray;
}
  

/* Header/Navigation Bar */
#header-navigation {
  background: green;
  color: rgb blue;
}

#header-navigation a {
  color: aqua;  
  text-underline-position: under;
  justify-content: space-around;
  float: right;
}




h1 {
  display: inline-block;
  font-size: 32pt;
}
h2 {
  color: blue;
  font-size: 2.5em;
}
#name-text-color {
  background: rgb(115, 194, 255);
}

nav {
  float: right;
  margin-top: 20px;
  margin-right: 5%;
}

nav ul li {
  display: inline-block;
  margin-left: 25px;
  color: aqua;
}



/* Hero Image/Subtitle */
#header-image {
  width: 100%;
  height: 150px;
}



/* Main Content */

.flex-container {
display: flex;
}

main header {
  font-size: 32pt;
  font-weight: bold;
  width: 25%;
  text-align: right;
  border-right-color:rgba red;
  border-right-style: solid;
  border-width: 3px;
  padding-right: 10px;
}

p {
  width: 65%;
  padding-left: 25px;
}

li {

  font-size: 18;
  position: relative;
  bottom: 3px;
  left: -10px;
}



.a {
  color: rgb(170, 0, 255);
  background-color: green;
justify-content:flex-end;
  float: right;
}



#tiles {
  width: 65%;
  padding-left: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#main-work-card {
  width: 100%;
  border-color: white;
  border-style: solid;
  border-width: 3px;
}

#work img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  cursor: pointer;
}

#work img:hover {
  opacity: 1.0;
}

.tile-name-box {
  background: orange;
  color: yellow;
  width: 150px;
  position: relative;
  bottom: 80px;
  padding: 10px;
  padding-left: 15px;
}

#carpenter-tile .tile-name-box {
  width: 300px;
}

.card-title {
  font-size: 16pt;
  font-weight: bold;
}

.card-text {
  font-size: 11pt;
  padding: 3px 0;
}

.work-card {
  width: 49%;
  margin-top: 15px;
  border-color: white;
  border-style: solid;
  border-width: 3px;}

/* For large devices:laptops/desktops */
 @media screen and  (max-width: 992px){
  
}
/*For medium devices: tablets*/
@media screen and (min-width: 768px) {
}
  
/*For smaller devices: phones*/
@media screen and (min-width: 600px) {
  
}